/* name */

.dogcontent{
    padding: 5px;
    margin: 25px;
     width: 800px;
    -webkit-box-shadow: 5px 5px 15px 5px #727272; 
     box-shadow: 5px 5px 15px 5px #727272;
    border-radius: 15px;
}
.dannie {
    padding: 3px;
    width: 300px;
    height: auto;
  }
.kartinka {
    background:lightgray;
    padding: 5px;
    margin: 0 3px 0 3px;
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.arba{
    padding-left: 3px;
    margin-left: 3px;
    text-align: left;
    background-color: #fff;
}

.sobitia {
      padding: auto;
  }
.status {
      padding: auto;
  }
  
.table{
        width: 80%;
        border-collapse:collapse;
        border-spacing:0
            
    }
.table, td, th{
       /* border: 1px solid #595959;*/

    }
td, th{
        padding: 3px;
        width: 30px;
        height: 25px;
    }
th{
        /*background-color: #7accee!important;*/
    }