/* name */
    .dogcontent {
        padding: 5px;
        margin: 25px;
         width: 1350px;
        -webkit-box-shadow: 5px 5px 15px 5px #727272; 
         box-shadow: 5px 5px 15px 5px #727272;
        border-radius: 15px;
    }
    .border2 {
    }
    .dannie {

        padding: 3px;
        width: 700px;
        height: auto;
            &_knopki {
            }
    
            &_text {
            }
    }
    .kartinka {
        padding-left: 25px;
            width: 310px;
            height: 310px;
            &_img {
                /*background:cornflowerblue;*/
                display: block;
                text-align: center;
                padding: 5px;
                margin: 0 3px 0 3px;
                overflow: hidden;
            }
    .arba {
              

            }
    }
    .sobitia {
    }
    .status {
    
            &_gk {
            }
    
            &_bar {
            }
    }
    .footer2{
       clear: both;
       text-align: right;
        /*background: #A9B4FF; */
        padding: 20px;
    }
 